/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  padding: 0 15px;
  width: auto;
  display: unset;
}

.googlemap_overlay{
	position: absolute;
	width: 50%;
	height: 450px;
	background: rgb(47, 174, 102);
}
.googlemap{
	height: 450px;
}
footer .footer-above {
    padding-top: 1px;
	background-color: unset;
}


header{
	background: url(../img/mamieburger.jpeg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.googlemap_overlay{
		width: 100%;
		background: rgba(47, 174, 102,0.8);

	}
	.navi{
		display: none;
	}

}

#menu-menu-principal {
    list-style: none;
}

li.menu-item {
    display: inline-block;
    vertical-align: middle;
}

li.menu-item a {
	padding: 0 15px;
}
